.container {
    max-width: 500px;
    margin: 30px auto;
    overflow: auto;
    min-height: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.note.reminder {
    border-left: 3px solid green;
    margin-bottom: .5em;
}

.note p {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.custom-btn {
    color: white !important;
}

.list-group-item {
    background: #fafafa !important;
}