@import '~antd/dist/antd.css';

body {
    background: #f4f4f4;
}

.wrapper {
    min-height: calc(100vh - 70px);
    margin-top: 1em;
    margin-bottom: 1em;
}

footer {
    text-align: center;
    margin-top: auto;
}

.container {
    background: white;
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.note {
    margin-top: .5em;
    margin-bottom: .5em;
}

.note.reminder {
    background-color: #e6f7ff;
    border-left: 3px solid #1890ff;
}